#bs-reminder-form-create,
#bs-reminder-form-create .mw-htmlform-submit {
	margin-top: 1em;
}
.successbox {
	float: none !important;
}

#reminder-userbar-element {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	width: 35px;
	text-indent: 20px;
	background-image: url(images/userbar-icon-reminder.png);
	background-repeat: no-repeat;
	background-position-y: 2px;
}

#reminder-userbar-element img{
	display: none;
}

#reminder-userbar-element > a, #reminder-userbar-element-open > a{
	color: #FEB01B;
}

#reminder-userbar-element > a:hover{
	text-decoration: none;
}

#reminder-userbar-element-open{
	float: left;
	margin-left: 29px;
	margin-top: -3px;
}

#bs-nav-sections a.bs-globalactions-items.bs-globalaction-ns_special-specialreminder::before{
	content: '\e9cc';
	font-family: 'icomoon';
}

#bs-personal-info #pi-reminder > a::before {
	content: "\e9a3";
	font-family: "entypo";
}
